:root {
  --white: #fefffe;
  --lavender-web: #e9ebf8;
  --french-gray: #b4b8c5;
  --silver: #a5a299;
  --light-blue: #CDF5FD;
  --sky-blue: #A0E9FF;
  --dirty-blue: #89CFF3;
  --bright-blue: #67c8f8;
  --blue: #89CFF3;
  --taupe-gray: #8d818c;
  --dark-blue: #3085C3;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: linear-gradient(45deg, var(--bright-blue) 30%, var(--blue) 90%);
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.calculator-title {
  margin-top: 50px;
  color: White;
  font-size: 3rem;
}

.button {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: var(--bright-blue);
  font-weight: bold;
  height: 70px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  transition: ease-in-out 0.1s;
  box-shadow: 0 12px 16px 0 var(--dirty-blue),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(2px);
  background-color: var(--light-blue);
}

.button:active{
  box-shadow: 0 0.1rem #998ca0;
  transform: translateY(0.1rem);
}

.calculator {
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 20px;
  margin: 20px auto 100px auto;
  padding: 30px 30px;
}

.display {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 1rem 0;
    padding-right:5px;
    text-align: right;
    font-size: 2rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba( 255, 255, 255, 0.5 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
}


.display::-webkit-scrollbar {
  height: .5rem;
}

.display::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 4px;
}

.display::-webkit-scrollbar-track {
  background-color: lightgrey;
}

.display > *:first-child {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 1rem;
  color: var(--bright-blue);
  background: #E8F6FD;
  cursor: pointer;
}


.buttonContainer {
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttons {
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .calculator-title {
    font-size: 2rem;
  }
}